<!DOCTYPE html>
<html
	lang="ko"
	xmlns:th="http://www.thymeleaf.org"
>
	<head>
		<meta charset="UTF-8" />
		<meta
			http-equiv="X-UA-Compatible"
			content="IE=edge"
		/>
		<meta
			name="_csrf"
			th:content="${_csrf.token}"
		/>
		<meta
			name="_csrf_header"
			th:content="${_csrf.headerName}"
		/>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>내 활동</title>
		<link
			rel="preconnect"
			href="https://fonts.googleapis.com"
		/>
		<link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
			crossorigin="anonymous"
		/>
		<!-- <link
      href="/UlidongneProject/src/main/resources/static/css/home.css"
      rel="stylesheet"
    /> -->
		<link
			rel="stylesheet"
			href="/css/home.css"
		/>
		<style>
			.gnbContent {
				border-bottom: 1px solid #eee;
			}
			.header {
				display: flex;
				/* justify-content: center; */
				align-items: center;
				font-size: 20px;
				font-weight: bold;
				padding: 10px 16px;
			}
			input {
				font-size: 14px !important;
			}
			.mb-10 {
				margin-bottom: 10px;
			}
			.blue {
				color: #0d6efd;
			}
			.joinClubWrap {
				display: flex;
				flex-wrap: wrap;
			}
			.joinClubImg {
				width: 65px;
				height: 65px;
				border-radius: 30px;
				box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
			}
			.joinClubName {
				font-size: 12px;
				text-align: center;
				width: 65px;
			}
			.oneClub {
				padding: 10px;
			}
			.flex {
				display: flex;
			}
			a {
				color: black;
			}
			a:visited {
				color: black;
			}
			.type_around {
				min-height: calc(100vh - 143px);
			}
		</style>
	</head>
	<body id="__next">
		<!-- 소모임탭 / 추천모임 -->
		<div class="group_page">
			<header>
				<nav class="gnbContent">
					<div class="header">
						<a
							class="link_main_gnb active"
							href=""
							>내활동
						</a>
					</div>
				</nav>
			</header>
			<div class="mArticle">
				<div class="page_home type_around">
					<div class="area_home type_top">
						<div
							th:if="${count == 0}"
							class="tit_welcome blue mb-10"
						>
							모임에 가입해보세요!
						</div>
						<strong
							class="tit_welcome"
							th:unless="${count == 0}"
							>가입한 모임</strong
						>
						<div
							class="joinClubWrap"
							th:unless="${count == 0}"
						>
							<div
								th:each="club: ${club}"
								class="oneClub"
							>
								<a th:href="|/club/${club.clubIdx}|">
									<img
										class="joinClubImg"
										th:src="${club.clubProfileImage}"
										alt=""
									/>
									<div
										class="joinClubName"
										th:text="${club.clubName}"
									></div>
								</a>
							</div>
						</div>
						<div class="tit_welcome">관심 모임 찾기</div>
						<!-- 퀵링크 -->
						<div class="flex">
							<div
								class="item_quick"
								th:each="category: ${category}"
								style="width: 20%"
							>
								<a
									class="link_quick"
									th:href="|/search/category/${category.categoryMain}/${member.memberIdx}|"
								>
									<img
										th:src="${category.categoryImage}"
										alt=""
										class="thumb_quick"
									/>
									<span
										class="thumb_quick"
										th:text="${category.categoryMain}"
										>음악/악기</span
									>
								</a>
							</div>
						</div>
					</div>
					<div class="area_home type_round type_thin">
						<div class="app_bar_left">
							<a href="/onlylocation/search"
								><span
									class="tit_sub"
									th:text="${location}"
									id="location"
									>남가좌제1동</span
								>
								<img
									src="https://psk-s3-bucket.s3.ap-northeast-2.amazonaws.com/icons8-forward-32.png"
									alt=""
							/></a>
							<input
								type="text"
								id="keywordSearch"
								class="tf_search"
								onkeyup="if(window.event.keyCode == 13){ searchAction(); }"
								placeholder="모임이나 커뮤니티를 검색하세요."
							/>
						</div>
						<a
							class="link_app_bar link_location"
							onclick="searchAction()"
						>
							<img
								src="https://sohonara.mysoho.com/assets/shop/img/btn/tpl_shop_search_000000.png"
								alt=""
							/>
						</a>
					</div>
					<div
						class="area_home type_round type_location"
						th:each="first : ${recoClub}"
					>
						<div class="tit_sub">
							<span th:text="${first[0].clubCategory}">업종/직무</span> 맞춤
							추천
						</div>
						<ul class="list_new">
							<li
								class="item_shop_card"
								th:each="second : ${first}"
							>
								<a
									th:href="|/club/${second.clubIdx}|"
									class="link_g link_shop"
								>
									<img
										th:src="${second.clubProfileImage}"
										class="img_g thumb_shop"
										alt=""
									/>
									<div class="group_info">
										<strong
											class="tit_shop"
											th:text="${second.clubName}"
											>코딩하기 좋은날</strong
										>
										<p
											class="desc_shop"
											th:text="${second.clubContent}"
										>
											<!-- 가격정보 -->
											개발 관련 모각코를 주로 모이고 필요에 따라서
										</p>
										<div class="info_review">
											<span
												class="bold"
												th:text="${second.clubLocation}"
												>마포구</span
											>
											<span>
												<span class="ico_hair ico_review">|</span>
											</span>
											<span class="memberEntity">멤버</span
											><span th:text="${second.members}">46</span>
										</div>
									</div>
								</a>
							</li>
						</ul>
					</div>
					<div
						id="adfit_banner"
						style="position: relative"
					></div>
				</div>
			</div>
			<footer>
				<!-- 개설버튼 -->
				<a
					href="/club"
					class="makeRoomBtn"
				>
					<div class="makeRoomBtnIcon">+</div>
					<div class="makeRoomBtnText">개설</div>
				</a>
				<div class="footerNav">
					<div class="flexbox">
						<div class="footer-nav-button">
							<a
								class="link_main_footer"
								href="/"
								><img
									src="https://psk-s3-bucket.s3.ap-northeast-2.amazonaws.com/icons8-%EC%82%AC%EC%9A%A9%EC%9E%90-%EA%B7%B8%EB%A3%B9-50.png"
									alt=""
									class="inactiveFilter"
								/><span class="inactiveFilter">우리동네</span>
							</a>
						</div>
						<div class="footer-nav-button">
							<a
								class="link_main_footer"
								th:href="|/member/activity/${session.memberIdx}|"
								><img
									src="https://psk-s3-bucket.s3.ap-northeast-2.amazonaws.com/icons8-%EC%84%B1%EB%B3%84-%EC%A4%91%EB%A6%BD-%EC%82%AC%EC%9A%A9%EC%9E%90-64.png"
									alt=""
								/><span>내활동</span>
							</a>
						</div>
						<div class="footer-nav-button">
							<a
								class="link_main_footer"
								th:href="|/member/${session.memberIdx}/more|"
								><img
									src="https://psk-s3-bucket.s3.ap-northeast-2.amazonaws.com/icons8-%EC%83%9D%EB%9E%B5-78.png"
									alt=""
									class="inactiveFilter"
								/><span class="inactiveFilter">더보기</span>
							</a>
						</div>
					</div>
				</div>
			</footer>
		</div>
		<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
		<!-- api.js를 넣기 전에 꼭 jquery를 넣어야함 -->
		<script src="/js/api.js"></script>
		<script th:inline="javascript">
			function searchAction() {
				let memLocation = $("#location").text();
				let keyword = $("#keywordSearch").val();
				if (keyword == "") {
					keyword = " ";
				}
				location.href = "/search/keyword/" + keyword + "/" + memLocation;
			}
		</script>
	</body>
</html>
