<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container" style="width: 540px;">
  <section class="chat">

    <div id="chat" class="messages-chat" style="height: 620px;">
    </div>
    <div class="footer-chat">

      <input id="opinion" type="text" class="write-message" onkeyup="enterkey()" placeholder="Type your message here">
      <i class="icon send fa fa-paper-plane-o clickable" onclick="send()" aria-hidden="true"></i>
    </div>
  </section>
</div>
</body>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<!-- 채팅 통신과 관련된 스크립트 -->
<script th:inline="javascript">

  var user = [[${user}]];
  var club = [[${club}]];

  var websocket = new WebSocket("ws://localhost:8080/ws/chat");
  websocket.onmessage = onMessage;
  websocket.onopen = onOpen;
  websocket.onclose = onClose;

  setInterval(() => console.log(new Date()), 60000); //prevent chrome refresh

  function enterkey(){
    if (window.event.keyCode == 13) {
      send();
    }
  }

  function send(){
    if($("#opinion").val() != ""){
      var sendItem = {clubIdx: "" + club.clubIdx,
                        memberIdx: "" + user.memberIdx,
                        memberName: user.memberName,
                        chattingType: "text",
                        chattingContent: $("#opinion").val()};
      websocket.send(JSON.stringify(sendItem));
      $("#opinion").val('');
    }
  }

  function onOpen(){
    var sendItem = {clubIdx: "" + club.clubIdx,
                      memberIdx: "" + user.memberIdx,
                      memberName: user.memberName,
                      chattingType: "open",
                      chattingContent: ""};
    websocket.send(JSON.stringify(sendItem));
  }
  function onClose(){
    var sendItem = {clubIdx: "" + club.clubIdx,
                      memberIdx: "" + user.memberIdx,
                      memberName: user.memberName,
                      chattingType: "close",
                      chattingContent: ""};
    websocket.send(JSON.stringify(sendItem));
  }

  var isLastChatFromMe = false;



  function onMessage(msg) {
    console.log(msg);

    var data = msg.data;
    var arr = data.split(",");
    var message = arr[4];

    if(arr[1] == user.memberIdx){
      var str = "<div class='message text-only'>";
      str += "<div class='response'><p class='text'>"
      str += message;
      str += "</p></div></div>";
      $("#chat").append(str);

      isLastChatFromMe = true;
    }
    else{
      if(isLastChatFromMe == true){
        var str = "<div class='message'> <div class='photo you'></div>";
        str += "<p class='text'>"
        str += message;
        str += "<p></div>";
        $("#chat").append(str);

      }else{
        var str = "<div class='message text-only'>";
        str += "<p class='text'>"
        str += message;
        str += "<p></div>";
        $("#chat").append(str);
      }
      isLastChatFromMe = false;

    }

    document.getElementById("chat").scrollTop = document.getElementById("chat").scrollHeight;
  }

</script>
<!-- 채팅 리스트 뿌려주는 스크립트 -->
<script th:inline="javascript">
  var chattingList = [[${chattingList}]];
  var user = [[${user}]];

  var LastChatMemberIdx = -1;

  for (const chatting of chattingList){
    if (chatting.memberIdx == user.memberIdx){
      if (LastChatMemberIdx == chatting.memberIdx){ // 사진이 없어야 될 때
        var str = "<div class='message text-only'>";
        str += "<div class='response'><p class='text'>"
        str += chatting.chattingContent;
        str += "</p></div></div>";
        $("#chat").append(str);
        LastChatMemberIdx = chatting.memberIdx;
      }else{ // 사진이 있어야 될 때
        var str = "<div class='message text-only'>";
        str += "<div class='response'><p class='text'>"
        str += chatting.chattingContent;
        str += "</p></div></div>";
        $("#chat").append(str);
        LastChatMemberIdx = chatting.memberIdx;
      }
    }else{
      if (LastChatMemberIdx == chatting.memberIdx){ // 사진이 없어야 될 때
        var str = "<div class='message text-only'>";
        str += "<p class='text'>"
        str += chatting.chattingContent;
        str += "<p></div>";
        $("#chat").append(str);
        LastChatMemberIdx = chatting.memberIdx;
      }else{ // 사진이 있어야 될 때
        var str = "<div class='message'> <div class='photo you'></div>";
        str += "<p class='text'>"
        str += chatting.chattingContent;
        str += "<p></div>";
        $("#chat").append(str);
        LastChatMemberIdx = chatting.memberIdx;
      }
    }
  }

</script>
</html>
