<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
<div>
    <button id="btn-findall" >findAll</button>
</div>
<div>
    <input type="text" id="findbyid-id">
    <button id="btn-findbyid" >findById</button>
</div>
<div>
    <input type="text" id="findbyphone-phone">
    <button id="btn-findbyphone" >findByPhone</button>
</div>
<div>
    <input type="text" id="save-name">
    <input type="text" id="save-phone">
    <button id="btn-save">save</button>
</div>
<div>
    <input type="text" id="update-id">
    <input type="text" id="update-name">
    <input type="text" id="update-phone">
    <button id="btn-update">update</button>
</div>
<div>
    <input type="text" id="delete-id">
    <button id="btn-delete">delete</button>
</div>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/api.js"></script>
<script>

    $('#btn-findall').on('click', function () {
        api.findAll();
    });
    $('#btn-findbyid').on('click', function () {
        api.findById();
    });
    $('#btn-findbyphone').on('click', function () {
        api.findByPhone();
    });
    $('#btn-save').on('click', function () {
        api.save();
    });
    $('#btn-update').on('click', function () {
        var data = {
          memberIdx: $("#update-id").val(),
          memberName: $("#update-name").val(),
          memberPhone: $("#update-phone").val()
        };
        api.update("member", data);
    });
    $('#btn-delete').on('click', function () {
        var id = $("#delete-id").val();
        api.remove("member", id);
    });

</script>
</body>
</html>